<div class="orders">
  <h3>Objednávky</h3>

  <p class="text-right">
    <a class="btn btn-success" href="#create">Vytvořit</a>
  </p>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>Zákazník</th>
      <th>Email</th>      
      <th>Stav</th>
      <th>Datum odeslání</th>
      <th>Akce</th>
    </tr>     
    <tr ng-repeat="order in list.orders" class="status-{{order.status|lowercase}}">
      <td ng-bind="order.id"></td>
      <td ng-bind="order.name"></td>
      <td>
        {{order.email}}
      </td>
      <td>
        <select class="form-control" ng-model="order.status" ng-change="list.updateOrder(order)" ng-options="key as value for (key,value) in list.statuses" />
      </td>
      <td ng-bind="order.date | date : 'dd.MM.yyyy'"></td>
      <td class="align-right">
        <a ng-href="#/detail/{{order.id}}" class="btn btn-info">Detail</a>
        <a ng-click="list.removeOrder(order)" class="btn btn-danger">Odstranit</a>
      </td>
    </tr>
  </table>
</div>