<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Templates | Angular.cz</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body class="container" ng-app>

    <h3>Databinding</h3>
    <div class='well'>      
      Firma <input type="text" class="form-control" ng-model="company"/><br />
      <h4>Ahoj {{company}}!</h4>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
  </body>
</html>